VITE_SUPABASE_URL=https://ggltcrfrfxykfvfvrxbj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdnbHRjcmZyZnh5a2Z2ZnZyeGJqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NTI3MDcsImV4cCI6MjA5MDEyODcwN30.rKqbh2Zk_nbsO-9czfVwwSTmj4FInvU9_1q7igu0cgw
